# .env
#todo -DONE- логины\пароли лучше выносить в .env. особенно есл иэто доступ к каким то личным аккаунтам(ТГ бот или еще какой нить внешний ресурс). для локального контейнера данный варинт норм)
SPRING_DATASOURCE_DB=postgres
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123
